# Dependencies
node_modules/

# Build output / tool caches
dist/
.vite/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Misc
.eslintcache
coverage/
*.local
